version: '3.8'

networks:
  runner_net:
    external: true

volumes:
  runner-config:
    name: runner-config

services:
  gitlab-runner:
    image: {{ gitlab_runner_image }}
    restart: always
    container_name: {{ gitlab_runner_name }}
    hostname: runner-server
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - runner-config:/etc/gitlab-runner
    networks:
      - runner_net
